# 7 Cool Python tricks!

Lets try out a 7 cool tricks for better programming using Python..

# No 1 : Assign Multiple variable at once! 
   You can assign multiple variables to different values if your values are seperated by commas!

In [1]:
a,b,c = 1,2,3
b

2

   You can also assign a single value to multiple variables at once!

In [2]:
a = b = c = 10
b

10

# No 2: Check out different conditions at Once!

   Do you want to check whether a number is between two other numbers?
   
   or do you want to check for two conditions at once? 
   
   Just do this!

In [3]:
6<a<9

False

In [4]:
5<9<13

True

# No 3: Filter by conditions

   Want to know the ages of adults only?
   
   or you have a list and a condition to filter upon? 
   
   Just use the built-in function with a function you defined!

In [5]:
def adult_age(a):
    return a>18

age = [11,24,32,14,45,26,17,18,22,20]

list(filter(adult_age,age))

[24, 32, 45, 26, 22, 20]

This can also be simply written with a lambda function

In [6]:
list(filter(lambda x:x>18,age))

[24, 32, 45, 26, 22, 20]

# No 4: Writing long numbers in an understandable format

 Will you count the number of zeroes to differentiate a billion and trillion?
 
 We cannot use comma as it is a seperator in python!
 
 Underscore becomes  handy for this case!

In [7]:
1_000_000+200_000

1200000

# No 5: for..else statement

 Not only if, even for and other loop statements have else in python!

In [8]:
l = [1,2,3,4,5]
for i in l:
    print(i)
else:
    print("Not present")

1
2
3
4
5
Not present

If a list is empty this might be apt!

In [9]:
l=[]

for i in l:
    print(i)
else:
    print("Not present")

Not present

# No 6: Joining two dictionaries

  Two dictionaries can be joined using 'update' method of dictionary.

In [10]:
ab = {'a':1,'b':2} 
bc ={'b':2,'c':3}
ab.update(bc)
ab

{'a': 1, 'b': 2, 'c': 3}

 This 'update' method also have multiple functions. See documentation for further reference!

# No 7: Leaving out a number in range?

   Do you want to skip 13 for any reasons.. We do have an option!

In [11]:
m=*range(0,13),*range(14,21)
m

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20)