#  Bunch to DataFrame [Python snippet 1]

    sklearn.utils.bunch object is a container object. This code gives a little introduction to Bunch object and would go to convert a Bunch object to Python DataFrame.

# Bunch vs Dict
    Bunch is just a dictionary that supports attribute type access. 
    A dictionary is a key value pair with immutable keys.
                                     A Bunch contains attributes of different data types.
    A dictionary is inbuilt data type.
                                     Bunch have to be installed from bunchclass(python 2) or sklearn.utils (python3).

In [6]:
from sklearn.utils import Bunch

b1=Bunch(a=1,b=[1,2,3],c='viswa',)

print('Dict style:',b1['a'])
print('Attribute style:',b1.a)

Dict style: 1
Attribute style: 1

In [4]:
d1={'a':1,'b':[1,2,3],'c':'viswa'}

print(d1['a'])
print(d1.a) # This is indented to create an error. Read the error statement.

1

AttributeError: 'dict' object has no attribute 'a'

While loading data, sklearn loads it in the form of bunch of values. We will work with this bunch type to convert it into DataFrame.

**Why should we convert it to pandas dataframe?**

  This is because pandas dataframe is good for data manipulation.
  
  
  We will load Iris dataset here and covert it into a complete dataframe.

In [7]:
from sklearn.datasets import load_iris
iris = load_iris() #Loading data into 'iris'
print(type(iris))

<class 'sklearn.utils.Bunch'>

Here the data is loaded as the sklearn.utils.Bunch object. We can see the elements of the Bunch before proceeding.

In [11]:
print(dir(iris))
print('data type of features column      :',type(iris.data))
print('data type of target               :',type(iris.target))
print('data type of feature_names        :',type(iris.feature_names))
print('data type of target_names         :',type(iris.target_names))

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']
data type of features column      : <class 'numpy.ndarray'>
data type of target               : <class 'numpy.ndarray'>
data type of feature_names        : <class 'list'>
data type of target_names         : <class 'numpy.ndarray'>

**How will we convert?**

It can be done in two ways

1) Numpy way

2) Pandas way

# 1) The Numpy way
We will first concatenate iris.data and iris.target in numpy and convert it into pandas dataframe

In [24]:
import numpy as np
import pandas as pd

num_iris=np.hstack((iris.data,iris.target.reshape(150,1)))
data=pd.DataFrame(num_iris,columns=iris.feature_names+['species'])

data.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
105,7.6,3.0,6.6,2.1,2.0
20,5.4,3.4,1.7,0.2,0.0
41,4.5,2.3,1.3,0.3,0.0
134,6.1,2.6,5.6,1.4,2.0
133,6.3,2.8,5.1,1.5,2.0

Here 'Species' is the target variable. It has three distinct values 0,1,2. iris.target_names has three names corresponding to this.

In [18]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

Now we have a DataFrame 'data' containing all the details.

# 2) pandas way
we will convert iris.data into DataFrame and iris.target into Series and then concatenate them.

In [22]:
    feature=pd.DataFrame(iris.data,columns=iris.feature_names)
    Target=pd.Series(iris.target,name='Species')
    
    data=pd.concat([feature,Target],axis=1)
    
    data.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
68,6.2,2.2,4.5,1.5,1
128,6.4,2.8,5.6,2.1,2
94,5.6,2.7,4.2,1.3,1
25,5.0,3.0,1.6,0.2,0
49,5.0,3.3,1.4,0.2,0